.container {
    display: flex;
    height: 100%;
}

.sidebar {
    min-width: 300px;
    overflow-y: auto;
}

.books {
    flex-grow: 1;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
    overflow-y: auto;
}

.toTop {
    background-color: #bababa;
    color: #212121;
    opacity: 0.7;
    position: fixed;
    bottom: 70px;
    right: 80px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    & > i {
        margin: 0 !important;
        transition-property: transform;
        transition-duration: 0.2s;
    }

    &:hover {
        opacity: 0.8;

        & > i {
            transform: scaleY(1.5) translateY(-10px);
        }
    }
}
