.container {
    display: flex;
    height: 100%;
}

.sidebar {
    min-width: 300px;
    overflow-y: auto;
}

.books {
    flex-grow: 1;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
    overflow-y: auto;
}
